 
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand mr-5">Vehicle Store</a>
    <div class="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="all-vehicle">All Vehicle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="search-vehicle">Search Vehicle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="add-vehicle">Add Vehicle</a>
            </li>
        </ul>
    </div>

</nav>
